.about-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  position: relative;
  animation: about_move 2s 1;
}
@keyframes about_move {
  from {
    right: -1250px;
  }
  to {
    right: 0px;
  }
}

.about-container > ul {
  /* border: 1px solid coral; */
  display: flex;
  flex-direction: column;
  gap: 25px;
  /* padding: 40px; */
  line-height: 23px;
  list-style: circle;
  font-size: 1rem;
  color: black;
  font-weight: 400;
  text-align: justify;
  margin: 30px 0;
  padding: 40px 0;
  /* font-style: italic; */
  /* width: 50%; */
  /* border: 1px solid blue; */
}
@media screen and (max-width: 1000px) {
  
  .about-container > ul {
    margin-top: 20px;
    line-height: 20px;
  }
  .about-container > ul>li{
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 500px) {
  
  .about-container > ul {
    margin-top: 20px;
    line-height: 20px;
  }
  .about-container > ul>li{
    font-size: 0.8rem;
  }
}
