.home {
  background-color: #edf2f8;
}
.home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:90%;
  margin: auto;
  padding: 80px 0;
 
}
.home-container img {
  width: 300px;
  border-radius: 50%;
  outline: 4px solid rgb(216, 211, 211);
  outline-offset: -10px;
  border: 3px solid #dc143c;
  position: relative;
  animation: profile_move 1.5s 1;
}
@keyframes profile_move {
  from {
    right: -1000px;
  }
  to {
    right: 0px;
  }
}
@keyframes user_details_move {
  from {
    left: -1000px;
  }
  to {
    left: 0px;
  }
}
.home-content {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  animation: user_details_move 1.8s 1;
}
.home .home-content .text-1 {
  font-size: 27px;
}
.home .home-content .text-2 {
  font-size: 65px;
  font-weight: 600;
  margin-left: -3px;
}
.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}
.home .home-content .text-3 span {
  color: #dc143c;
  font-weight: 600;
}
.btn {
  margin: 40px 0;
}
.btn > a {
  background-color: #dc143c;
  padding: 10px 30px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 130px;
  border: 1px solid #dc143c;
  text-decoration: none;
}

.btn > a:hover {
  transition: 0.25s ease-in;
  color: #dc143c;
  background-color: #fff;
  border: 1px solid #dc143c;
}

/****************************** FOR LAPTOP SCREEN SIZES*************************************/
@media screen and (max-width: 1000px) {
  .home-container {
    /* width: 80%; */
    margin: 70px auto;
  }
  .home-container img {
    width: 250px;
    border-radius: 50%;
    outline: 4px solid rgb(216, 211, 211);
    outline-offset: -10px;
    border: 3px solid #dc143c;
  }

  .home .home-content .text-1 {
    font-size: 23px;
  }
  .home .home-content .text-2 {
    font-size: 55px;
    font-weight: 600;
    margin-left: -3px;
  }
  .home .home-content .text-3 {
    font-size: 26px;
    margin: 5px 0;
  }
}

/****************************** FOR MOBILE SCREEN SIZES*************************************/
@media screen and (max-width: 500px) {
  .home-container {
    /* width: 90%; */
    margin: 50px auto;
    /* justify-content: center; */
  }
  .home-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
  }
  .home-container img {
    width: 200px;
    border-radius: 50%;
    outline: 4px solid rgb(216, 211, 211);
    outline-offset: -10px;
    border: 3px solid #dc143c;
  }
  .home-content {
    /* width: 90%; */
    margin: auto;
    justify-content: center;
    text-align: center;
  }

  .home .home-content .text-1 {
    font-size: 17px;
  }
  .home .home-content .text-2 {
    font-size: 30px;
    font-weight: 600;
    margin-left: -3px;
  }
  .home .home-content .text-3 {
    font-size: 20px;
    margin: 5px 0;
  }
}
