.contact {
  padding: 40px 0;
  overflow-x: hidden;
}
.contact-container {
 
  margin: 30px;
  padding: 40px;
  width: 40%;
  margin: auto;
}
.contact-form {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form > button {
  display: block;
  /* width: 25%; */
  width: 100px;
  text-align: center;
  border: none;
  background-color: #dc143c;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin: auto;
  padding: 15px 0px;
  border-radius: 5px;
  border: 1px solid #dc143c;
  cursor: pointer;
}
.contact-form > button:hover {
  transition: 0.25s ease-in;
  color: #dc143c;
  background-color: #fff;
  border: 1px solid #dc143c;
}
.contact-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin: auto;
  gap: 20px;
  align-items: center;
  margin-top: 40px;
}
.contact-links a {
  color: #000;
  transition: 0.3s ease-in;
  text-decoration: none;
}
.contact-links a:hover {
  /* transform: scale(1.7); */
  transform: translateY(-10px);
}
.contact-info > a:hover {
  transform: none;
}
.contact-links > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  cursor: default;
}
.contact-links span {
  font-size: 18px;
  font-weight: 500;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#dc143c;
  font-size: 18px;
  font-style: italic;
  /* padding: 0px 0; */
  min-height: 80px;
  /* z-index: 1; */
}
.footer > p {
  /* border: 1px solid white; */
  width: 80%;
  margin: auto;
  font-size: 17px;
  text-align: center;
  color: white;
}

input,
textarea {
  padding: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 1.1rem;
  font-weight: 300;
}
@media screen and (max-width: 1000px) {
  .contact-container {
    width: 80%;
    margin: auto;
  }
}
@media screen and (max-width: 500px) {
  .contact-container {
    width: 100%;
    margin: auto;
  }
}
